body {
  background-color: #000;
  color: #fff;
}

.page {
  text-align: center;
  margin-top: 50px;
}
.page__title {
  background: linear-gradient(
    to left,
    #4b0082,
    #0000ff,
    #00c3ff,
    #008000,
    #07cf07,
    #ffff00,
    #ffd700,
    #ffa500,
    #ff5e00,
    #ff0000
  );
  background-clip: text;
  display: inline;
  color: transparent;
  animation: animated 7s linear infinite;
  font-size: 55px;
}

@keyframes animated {
  to {
    background-position-x: 600px;
  }
}
